:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #f5f5f5;
  background-color: #050505;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #050505;
  color: inherit;
}

a {
  color: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
}
